@{
    ViewData["Title"] = "Home Page";
}

<!-- PAGE -->
<section class="page-section no-padding slider">
    <div class="container full-width">

        <div class="main-slider">
            <div class="owl-carousel" id="main-slider">

                <!-- Slide 1 -->
                <div class="item slide1">
                    <img class="slide-img" src="~/assets/img/preview/slider/slide-1.jpg" alt="" />
                    <div class="caption">
                        <div class="container">
                            <div class="div-table">
                                <div class="div-cell">
                                    <div class="caption-content">
                                        <h2 class="caption-title">بزرگترین</h2>
                                        <h3 class="caption-subtitle">فروش</h3>
                                        <p class="caption-text">
                                            <a class="btn btn-theme" href="#">خرید کن</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Slide 1 -->
                <!-- Slide 2 -->
                <div class="item slide2 alt">
                    <img class="slide-img" src="~/assets/img/preview/slider/slide-2.jpg" alt="" />
                    <div class="caption">
                        <div class="container">
                            <div class="div-table">
                                <div class="div-cell">
                                    <div class="caption-content">
                                        <h2 class="caption-title">اجناس جدید در فروش</h2>
                                        <h3 class="caption-subtitle"><span>محصولات الکترونیکی </span></h3>
                                        <div class="price">
                                            <span>$</span><ins>۴۹</ins>
                                            <span>$</span><del>۸۶</del>
                                        </div>
                                        <p class="caption-text">
                                            <a class="btn btn-theme" href="#">خرید این مورد الان</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Slide 2 -->
                <!-- Slide 3 -->
                <div class="item slide3 dark">
                    <img class="slide-img" src="~/assets/img/preview/slider/slide-3.jpg" alt="" />
                    <div class="caption">
                        <div class="container">
                            <div class="div-table">
                                <div class="div-cell">
                                    <div class="caption-content">
                                        <h2 class="caption-title">اجناس جدید در فروش</h2>
                                        <h3 class="caption-subtitle"><span>محصولات الکترونیکی </span></h3>
                                        <p class="caption-text">
                                            <a class="btn btn-theme" href="#">خرید این مورد الان</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Slide 3 -->

            </div>
        </div>

    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail no-border no-padding thumbnail-banner size-1x3">
                    <div class="media">
                        <a class="media-link" href="#">
                            <div class="img-bg" style="background-image: url('~/assets/img/preview/shop/banner-1.jpg')"></div>
                            <div class="caption">
                                <div class="caption-wrapper div-table">
                                    <div class="caption-inner div-cell">
                                        <h2 class="caption-title"><span>لورم اپیزوم</span></h2>
                                        <h3 class="caption-sub-title"><span>لورم ایپسوم متن ساختگی</span></h3>
                                        <span class="btn btn-theme btn-theme-sm">خرید کن</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail no-border no-padding thumbnail-banner size-1x3">
                    <div class="media">
                        <a class="media-link" href="#">
                            <div class="img-bg" style="background-image: url('~/assets/img/preview/shop/banner-2.jpg')"></div>
                            <div class="caption text-left">
                                <div class="caption-wrapper div-table">
                                    <div class="caption-inner div-cell">
                                        <h2 class="caption-title"><span>لورم اپیزوم</span></h2>
                                        <h3 class="caption-sub-title"><span>لورم ایپسوم متن ساختگی</span></h3>
                                        <span class="btn btn-theme btn-theme-sm">خرید کن</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">

        <div class="tabs">
            <ul id="tabs" class="nav nav-justified-off">
                <!--
                -->
                <li class=""><a href="#tab-1" data-toggle="tab">ویژه</a></li>
                <!--
                -->
                <li class="active"><a href="#tab-2" data-toggle="tab">جدید</a></li>
                <!--
                -->
                <li class=""><a href="#tab-3" data-toggle="tab">فروشندگان برتر</a></li>
            </ul>
        </div>

        <div class="tab-content">

            <!-- tab 1 -->
            <div class="tab-pane fade" id="tab-1">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-3.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-4.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-1.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-2.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tab 2 -->
            <div class="tab-pane fade active in" id="tab-2">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-1.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-2.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-3.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-4.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tab 3 -->
            <div class="tab-pane fade" id="tab-3">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-2.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-3.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-4.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                    <img src="~/assets/img/preview/shop/product-1.jpg" alt="" />
                                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <div class="message-box">
            <div class="message-box-inner">
                <h2>حمل و نقل رایگان در تمام سفارشات بیش از ۴۵ $</h2>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <h2 class="section-title"><span>محصولات دارای رتبه برتر</span></h2>
        <div class="top-products-carousel">
            <div class="owl-carousel" id="top-products-carousel">
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                            <img src="~/assets/img/preview/shop/top-rated-1.jpg" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">سبد خرید</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                            <img src="~/assets/img/preview/shop/top-rated-2.jpg" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">سبد خرید</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                            <img src="~/assets/img/preview/shop/top-rated-3.jpg" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">سبد خرید</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                            <img src="~/assets/img/preview/shop/top-rated-4.jpg" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">سبد خرید</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                            <img src="~/assets/img/preview/shop/top-rated-5.jpg" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">سبد خرید</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                            <img src="~/assets/img/preview/shop/top-rated-6.jpg" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">سبد خرید</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                            <img src="~/assets/img/preview/shop/top-rated-1.jpg" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">سبد خرید</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                            <img src="~/assets/img/preview/shop/top-rated-2.jpg" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a href="product-details.html">سربرگ محصولات الکترونیکی</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">سبد خرید</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <a class="btn btn-theme btn-title-more btn-icon-left" href="#"><i class="fa fa-file-text-o"></i>مشاهده همه پست ها</a>
        <h2 class="block-title"><span>پست های اخیر ما</span></h2>
        <div class="row">
            <div class="col-md-6">
                <div class="recent-post">
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/blog/recent-post-1.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <p class="media-category"><a href="#">کفش</a> / <a href="#">لباس</a></p>
                            <h4 class="media-heading"><a href="#">ارسال نظر سربرگ الکترونیکی در اینجا</a></h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان.
                            <div class="media-meta">
                                ۶ ژوئن 2015
                                <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>۲۷</a>
                                <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>۱۸</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="recent-post">
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/blog/recent-post-2.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <p class="media-category"><a href="#">ازدواج</a> / <a href="#">جلسه کاری</a></p>
                            <h4 class="media-heading"><a href="#">ارسال نظر سربرگ الکترونیکی در اینجا</a></h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان.
                            <div class="media-meta">
                                ۶ ژوئن 2015
                                <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>۲۷</a>
                                <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>۱۸</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="recent-post">
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/blog/recent-post-3.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <p class="media-category"><a href="#">بچگانه</a> / <a href="#">کودکانه</a></p>
                            <h4 class="media-heading"><a href="#">ارسال نظر سربرگ الکترونیکی در اینجا</a></h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان.
                            <div class="media-meta">
                                ۶ ژوئن 2015
                                <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>۲۷</a>
                                <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>۱۸</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="recent-post">
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/blog/recent-post-4.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <p class="media-category"><a href="#">مردانه</a> / <a href="#">تجهیزات جانبی</a></p>
                            <h4 class="media-heading"><a href="#">ارسال نظر سربرگ الکترونیکی در اینجا</a></h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان.
                            <div class="media-meta">
                                ۶ ژوئن 2015
                                <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>۲۷</a>
                                <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>۱۸</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <h2 class="section-title"><span>مارک تجاری و مشتریان</span></h2>
        <div class="partners-carousel">
            <div class="owl-carousel" id="partners">
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-1.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-2.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-3.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-4.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-5.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-1.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-2.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-3.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-4.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-5.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-1.jpg" alt="" /></a></div>
                <div><a href="#"><img src="~/assets/img/preview/partners/brand-logo-2.jpg" alt="" /></a></div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product-list">
                    <a class="btn btn-theme btn-title-more" href="#">مشاهده همه</a>
                    <h4 class="block-title"><span>فروشندگان برتر</span></h4>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-1.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-2.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-3.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-list">
                    <a class="btn btn-theme btn-title-more" href="#">مشاهده همه</a>
                    <h4 class="block-title"><span>بهترین لوازم جانبی </span></h4>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-4.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-5.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-6.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-list">
                    <a class="btn btn-theme btn-title-more" href="#">مشاهده همه</a>
                    <h4 class="block-title"><span>بهترین تازه ها</span></h4>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-7.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-8.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-right media-link" href="#">
                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-9.jpg" alt="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"> محصولات سربرگ الکترونیکی</a></h4>
                            <div class="rating">
                                <span class="star"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                                <!--
                                -->
                                <span class="star active"></span>
                            </div>
                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section no-padding-top">
    <div class="container">
        <div class="row blocks shop-info-banners">
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-left"><i class="fa fa-gift"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">۱ فروش ۱ دریافت </h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-left"><i class="fa fa-comments"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">تماس رایگان</h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-left"><i class="fa fa-trophy"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">برگشت پول!</h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
