@using EShop.Domain.DTOs.Product;
@model ProductOutPutDto

<form method="post" asp-action="Edit">
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Email address</label>
        <input asp-for="Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label asp-for="Price" class="form-label">Email address</label>
        <input asp-for="Price" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div> 
      <div class="mb-3">
        <label asp-for="Quntity" class="form-label">Email address</label>
        <input asp-for="Quntity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
   
    <button type="submit" class="btn btn-primary">ویرایش</button>
</form>